!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.foreman
/log/*
/public/system
/public/assets
/tags
/tmp/*
/config/application.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
