<div class="row">
  <div class="col-xs-12">
    <h1>Fiers</h1>
  </div>
</div>

<% @articles.each do |article| %>
  <%= render "articles/templates/#{article.template_name}", article: article %>
<% end %>
