<h2>Liste des fournisseurs</h2>

<%= link_to "Ajouter un fournisseur", new_admin_maker_path %>

  <ul>
    <% Maker.all.each do |maker| %>
      <li>
        <%= link_to maker.name, admin_maker_path(maker) %>
      </li>
    <% end %>
  </ul>
